.marhey-text {
  font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


#titleName
{
    display: flex;
    justify-content: center;
    font-size: 48px;
    color: rgb(230, 230, 230);
}
#searchUI
{
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.searchItem
{
    margin-right: 10px;
}

#gameSearch
{
    width: 30%;
    height: 35px;
    border-radius: 10px;
    font-size: 20px;
}

#gameCover
{
    display: none;
    max-width: 400px;
    max-height: 650px;
    border-radius: 15px;
}
body
{
    background: linear-gradient(to bottom, rgb(6, 71, 137), rgb(118, 146, 255));
    /* background: linear-gradient(to bottom, rgb(118, 146, 255), rgb(89, 60, 143)); */
    background-attachment: fixed;
}

#gameInfo
{
    width: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameName
{
    font-size: 48px;
    text-align: center;
    color: rgb(230, 230, 230);
    line-height: 55px;
    width:500px;
}

#gameBody
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;

}

#categorySelect
{
    width: max-content;
    height: 30px;
    font-size: 18px;
    display: none;
}

#categoryInfo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lbUsername
{
    font-size: 32px;
    color: rgb(230, 230, 230);
}

#lbTime
{
    font-size: 48px;
    color: rgb(230, 230, 230);
}
.categoryItems
{
    margin: 10px;
}

#user
{
    display: flex;
    align-items: center;
}

#categories
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subCategories
{
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#searchBt
{
    height: 40px;
    width: 125px;
    border-radius: 10px;
    font-size: 22px;
    background: linear-gradient(to bottom right, rgb(0, 150, 255), rgb(79, 18, 113));
    color: rgb(230, 230, 230);
    border: 2px, solid rgb(230, 230, 230);
}

#resultAllGames
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 30%;
    height: 50vh;
    overflow: auto;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #fff;
}
.playerStyle
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;

}
#players
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    flex-wrap: wrap;
}

.currVar
{
    flex-wrap: wrap;
    justify-content: center;
    width: max-content;
    height: 30px;
    gap: 5px;
}
.subSelects
{
    font-size: 18px;
}
#wrVideo
{
    border: 3px solid rgb(230, 230, 230);
}
#userSearch
{
    display: flex;
    align-items: center;
}