.marhey-text {
  font-family: "Marhey", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


#titleName
{
    display: flex;
    justify-content: center;
    font-size: 48px;
}
#searchUI
{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.searchItem
{
    margin: 10px;
}

#gameSearch
{
    width: 500px;
    height: 25px;
}

#gameCover
{
    display: none;
}
body
{
    background: linear-gradient(rgb(255,255,255), rgb(155,155,155));
    background-attachment: fixed;
}

#gameInfo
{
    width: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameName
{
    font-size: 48px;
    text-align: center;
}

#gameBody
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;

}

#categorySelect
{
    width: max-content;
    height: 25px;
    display: none;
}

#categoryInfo
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lbUsername
{
    font-size: 32px;
}

#lbTime
{
    font-size: 48px;
}
.categoryItems
{
    margin: 10px;
}

#user
{
    display: flex;
    align-items: center;
}

#categories
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subCategories
{
    display: flex;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

#searchBt
{
    height: 30px;
}

#resultAllGames
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 450px;
    height: 450px;
    overflow: auto;
}
.playerStyle
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;

}
#players
{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    flex-wrap: wrap;
    wa
}